body {
    overflow-x: hidden;
}
#home {
    background-image: url("./images/h_img.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
    padding-top: 10px;
    color: aliceblue;
}
#services{
    background-image: url("./images/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    margin-bottom:40px;
    color: white;
}
body{
    text-align: center;
}
#contact-us{
    background-image: url(./images/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px;
}


.required{
background-color: transparent;
display: transparent;
}
#mc_embed_signup {
    background-color: transparent;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}
